/venv
app/volumes/*
Airflow/dags/.env
Airflow/logs/*
Airflow/app/volumes/data_postgres/*
notebook/data/lookups/*
Airflow/dags/__pycache__/*
Airflow/dags/__pycache__/Stage_4.cpython-312.pyc
Airflow/plugins/__pycache__/*

